body
{
    margin:0;
}
body *
{
    margin:0;
    padding:0;
}
#draw_area
{
    background-color:#fff;
}
#canvas
{
    border: 1px solid #333;
}
.navbar {
    position: relative;
    min-height: 50px;
}
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
}